In [29]:
import csv
import pandas as pd
import datetime

In [30]:
unemployment_rate = "CivilianUnemplymentRate.csv"

In [31]:
unemployment_rate_pd = pd.read_csv(unemployment_rate)
unemployment_rate_pd.head()

       DATE  UNRATE
0  1/1/1960     5.2
1  2/1/1960     4.8
2  3/1/1960     5.4
3  4/1/1960     5.2
4  5/1/1960     5.1

In [32]:
employees_non_farm = "NonFarmPayroll.csv"

In [33]:
employees_non_farm_pd = pd.read_csv(employees_non_farm)
employees_non_farm_pd.head()

       DATE  PAYEMS
0  1/1/1960   54274
1  2/1/1960   54513
2  3/1/1960   54454
3  4/1/1960   54813
4  5/1/1960   54475

In [36]:
df_combined = pd.merge(unemployment_rate_pd, employees_non_farm_pd, how='left')

df_combined.set_index('DATE', inplace=True)
df_combined

          UNRATE  PAYEMS
DATE
1/1/1960     5.2   54274
2/1/1960     4.8   54513
3/1/1960     5.4   54454
4/1/1960     5.2   54813
5/1/1960     5.1   54475
...          ...     ...
4/1/2019     3.6  151012
5/1/2019     3.6  151074
6/1/2019     3.7  151252
7/1/2019     3.7  151411
8/1/2019     3.7  151541

[716 rows x 2 columns]