In [29]:
import csv
import pandas as pd
import datetime

In [30]:
unemployment_rate = "CivilianUnemplymentRate.csv"

In [31]:
unemployment_rate_pd = pd.read_csv(unemployment_rate)
unemployment_rate_pd.head()

       DATE  UNRATE
0  1/1/1960     5.2
1  2/1/1960     4.8
2  3/1/1960     5.4
3  4/1/1960     5.2
4  5/1/1960     5.1

In [32]:
employees_non_farm = "NonFarmPayroll.csv"

In [33]:
employees_non_farm_pd = pd.read_csv(employees_non_farm)
employees_non_farm_pd.head()

       DATE  PAYEMS
0  1/1/1960   54274
1  2/1/1960   54513
2  3/1/1960   54454
3  4/1/1960   54813
4  5/1/1960   54475

In [37]:
df_combined = pd.merge(unemployment_rate_pd, employees_non_farm_pd, how='left')

df_combined.set_index('DATE', inplace=True)
df_combined

df_combined.to_csv('fred_data.csv')