In [1]:
import requests
import json
import pandas as pd

In [17]:
#Get your jsonified api data here
startyear = [1960,1980,2000]
endyear = [1979,1999,2019]
Years = []
Months = []
Crime_Rate = []

for year in range(len(startyear)):
    base_URL = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
    headers = {'Content-type': 'application/json'}
    data = json.dumps({"seriesid": ["LNS14000000"],"startyear":startyear[year], "endyear":endyear[year],"registrationkey":"a1996666110d420cbf38f706289109f6"})
    Complete_Data = requests.post(f"{base_URL}",data=data, headers=headers)
    Complete_Data = Complete_Data.json()
    for i in Complete_Data["Results"]["series"][0]["data"]:
        Years.append(i["year"])
        Months.append(int(i["period"].replace('M', '')))
        Crime_Rate.append(i["value"])

In [18]:
Collected_Data = pd.DataFrame({"Years":Years,
                              "Months":Months,
                              "Crime Rate":Crime_Rate})

def getCrime_Rate():
    return Collected_Data

In [19]:
getCrime_Rate()

    Years  Months Crime Rate
0    1979      12        6.0
1    1979      11        5.9
2    1979      10        6.0
3    1979       9        5.9
4    1979       8        6.0
..    ...     ...        ...
712  2000       5        4.0
713  2000       4        3.8
714  2000       3        4.0
715  2000       2        4.1
716  2000       1        4.0

[717 rows x 3 columns]