In [8]:
import pandas as pd

In [20]:
Presidents = ["Donald Trump","Barack Obama","George W. Bush", "William J. Clinton",
             "George Bush", "Ronald Reagan", "Jimmy Carter", "Gerald R. Ford", "Richard Nixon"]
filepath = "../Data/President Ratings/"

In [45]:
#Approval Ratings
Approval_Ratings = pd.DataFrame()

for i in range(len(Presidents)):
    Approval_Rating = pd.read_csv(f"{filepath}{Presidents[i]}-Ratings.csv")
    Approval_Ratings = pd.concat([Approval_Ratings,Approval_Rating],ignore_index = True)

In [48]:
#Clean up Approval Ratings

Approval_Ratings

,Start Date,End Date,Approving,Disapproving,Unsure/NoData,Year,Month
0,10/08/2018,2018-10-14,44,51,5,2018,10
1,10/01/2018,2018-10-07,43,53,4,2018,10
2,09/24/2018,2018-09-30,42,53,5,2018,9
3,09/17/2018,2018-09-23,40,56,4,2018,9
4,09/10/2018,2018-09-16,38,56,6,2018,9
...,...,...,...,...,...,...,...
3901,04/04/1969,1969-04-10,59,11,28,1969,4
3902,03/27/1969,1969-04-01,62,10,27,1969,4
3903,03/12/1969,1969-03-17,65,8,26,1969,3
3904,02/20/1969,1969-02-25,59,6,34,1969,2
3905,01/23/1969,1969-01-28,59,5,36,1969,1